		@import url(//fonts.googleapis.com/css?family=Lato:700);
		body{
			font-family:Lato;
			padding: 5px;
			border: 1px dashed silver;
			border-radius: 10px;
			background-color: rgb(244, 244, 244);
			margin:10px;
		}
		.errors{
			color:rgb(24, 2, 2);
			border:1px solid rgb(255, 0, 45);
			border-radius:3px;
			list-style-type:lower-roman;
			padding-left:35px;
			background-color:rgb(255, 135, 135);
		}
		.message{
			padding: 5px;
			border: 1px solid black;
			border-radius: 5px;
			margin:5px;
		}
		table, tr, td{
			border:1px solid lightgrey;
			border-radius:3px;
			padding:5px;
			background-color:white;
		}
		table{
			box-shadow: 0px 0px 6px rgb(221, 221, 221);
			clear:both;
		}
		.little_note{
			color:rgb(126, 82, 28);
		}

		/*Events Page*/
		article[role='events_container']{
			overflow:hidden;
			position:relative;
			margin:auto;
			width:80%;
			border: 1px dotted grey;
		}
		header[role='events_header']{
			height:30px;
			background-color:lightgrey;
			padding:5px;
			line-height:1.7em;
			text-shadow:0px 1px 0px white;

		}
		header[role='events_header'] span:first-of-type{
			float:left;
			padding-left:5px;
		}
		header[role='events_header'] span:last-of-type{
			float:right;
			padding-right:20px;
		}
		aside[role='events_filter']{
			float: left;
			width: 20%;
			min-height: 300px;
			border: 1px solid rgb(207, 207, 207);
			margin: 5px;
		}
		aside[role='events_filter'] h4{
			background-color: lightgrey;
			height: 30px;
			line-height: 30px;
			padding-left: 10px;
			margin:0;
		}
		aside[role='events_filter'] p{
			padding:5px;
			margin:0;
			color:rgb(56, 56, 95);
		}
		aside[role='events_all']{
			float:left;
			width:70%;
			margin-left:10px;
			min-height:300px;
		}
		.events_buttons > td{
			border:none;
			text-align: right;
		}
		.events_buttons input[type="submit"]{
			width:100%;
		}
